.newIn {
  height: 90vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: rgb(61, 61, 61);
  position: absolute;
  z-index: 1;
  left: 0%;
  top: 90%;
  font-size: 0.9em;

    .main {
        background: white;
        padding: 1.5em;
        animation: slideFromToptoBottom 2s ease-in;
        display: flex;
        justify-content: space-between;

        p:hover {
            cursor: pointer;
            color: black;
        }
    }

    .firstDiv {
        line-height: 2.3em;

        p:first-child {
            font-weight: 600;
        }
    }
    .secondDiv {
        line-height: 2.3em;

        p:first-child {
            font-weight: 600;
        }
    }
    .thirdDiv {
        line-height: 2.3em;

        p:first-child {
            font-weight: 600;
        }
    }
    .fourthDiv {
        line-height: 2.3em;
        width: 271px;

        p:first-child {
            font-weight: 600;
        }

        .closeIcon {
            float: right;
            margin-top: -3em;
        }
        .closeIcon:hover {
            cursor: pointer;
        }
    }

    
}